version: '3.8'

services:
  web:
    build: .
    ports:
      - "9009:9009"
    volumes:
      - ./app:/app/app
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/fastapidb
    networks:
      - my-network

  db:
    image: postgres:15
    volumes:
      - ./pgdata:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fastapidb
    ports:
      - "5432:5432"
    networks:
      - my-network

volumes:
  postgres_data:

networks:
  my-network:
    driver: bridge