version: '3.8'

services:
  web:
    build: .
    ports:
      - "9009:9009"
    volumes:
      - ./app:/app/app
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}
    networks:
      - my-network

  db:
    image: postgres:15
    volumes:
      - ./pgdata:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - my-network

volumes:
  postgres_data:

networks:
  my-network:
    driver: bridge